<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page - User List</title>
</head>
<body>
<form method="post" action="/signup">
    <label>ID:</label><br>
    <input type="text" name="id" required><br>
    {{#error}}
        <p style="color:red">ID is currently used</p>
    {{/error}}
    {{^error}}
        <br>
    {{/error}}
    <label>Password:</label><br>
    <input type="text" name="password" required><br><br>
    <label>Name:</label><br>
    <input type="text" name="name" required><br><br>
    <label>Email:</label><br>
    <input type="text" name="email" required><br><br>
    <button type="submit">Sign Up</button>
</form>
</body>
</html>